/* dialog */
.admin-options-dialog {
  position: relative;
  z-index: 999999999;
  display: none;
}
.admin-options-dialog .dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  -moz-opacity: 0.8;
  opacity:      0.8;
  filter:alpha(Opacity=80);
}
.admin-options-dialog .dialog-content {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 199999999999;
  width: 80%;
  height: 80%;
  background: #fff;
}
.admin-options-dialog .dialog-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.admin-options-dialog .dialog-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.admin-options-dialog .dialog-title {
  font-size: 22px;
  background: #FCFCFC;
  border-bottom: #DDDDDD solid 1px;
  padding: 15px 20px;
}
.admin-options-dialog .dialog-text {
  margin: 15px;
  margin-bottom: 40px;
  font-size: 14px;
}
.admin-options-dialog .dialog-btns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #FCFCFC;
  border-top: #DDDDDD solid 1px;
  padding: 15px 20px;
  text-align: right;
}
/* 分类列表 */
.select-category-dialog .dialog-text li {
  width: 23%;
  float: left;
}
.select-category-dialog .dialog-text .children li {
  float: none;
  width: 90%;
  margin-left: 10px;
}
.select-category-dialog .dialog-text li label {
  display: block;
  background: #fff;
  border: #fff solid 1px;
  padding: 10px 5px;
  transition: background .5s, border .5s;
  -moz-transition: background .5s, border .5s;
  -webkit-transition: background .5s, border .5s;
  -o-transition: background .5s, border .5s;
}
.select-category-dialog .dialog-text li label:hover {
  background: #FCFCFC;
  border: #f1f1f1 solid 1px;
}