.clear {
  clear: both;
}
input.regular-text {
  max-width: 90% !important;
}
input.short-text {
  width: 80px;
}
.inside textarea.code {
  font-size: .9em;
}
.inside {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 !important;
  padding: 8px 10px !important;
}


.option-box form {
  margin: 0;
}

.admin-options-header {
  margin: 20px 20px;
}
.admin-options-header h1 {
  padding: 0 20px;
}
.admin-options-header h1 small {
  font-size: 14px;
}
.admin-options-footer {
  margin: 20px 20px;
  padding: 0 20px;
  border: #DBDBDB solid 1px;
  border-radius: 10px;
  background: #f9f9f9;
}

.admin-options {
  margin: 20px 20px;
  border: #DBDBDB solid 1px;
  border-radius: 10px;
}

.admin-options-menu {
  float: left;
  width: 20%;
  background: #ededed;
  border-top-left-radius: 10px;
}
.admin-options-menu ul {
  margin: 0;
  padding: 0;
  margin-top: 2em;
  border-top: #dbdbdb solid 1px;
}
.admin-options-menu li {
  border-bottom: #dbdbdb solid 1px;
  margin: 0;
}
.admin-options-menu li a {
  display: block;
  padding: 10px 15px;
  color: #888;
  font-size: 1.2em;
  text-decoration: none;
  outline: none !important;
  star:expression(this.onfocus=this.blur());
}
.admin-options-menu li a:hover {
  background: #f1f1f1;
}
.admin-options-menu li.selected {
  position: relative;
  z-index: 9;
  border-right: #F1F1F1 solid 1px;
  margin-right: -1px;
  background: #F1F1F1;
}
.admin-options-menu li.selected a {
  color: #222;
}

.admin-options-container {
  float: left;
  width: 70%;
  min-height: 400px;
  padding-left: 4%;
  padding-right: 5%;
  border-left: #dbdbdb solid 1px;
}
.admin-options-container .option-box {
  display: none;
}

/* admin-options-list */
.admin-options-list > .box {
  position: relative;
}
.admin-options-list > .box:nth-child(odd) {
  background: #fafafa;
}
.admin-options-list .box .btns {
  position: absolute;
  top: 8px;
  right: 10px;
}
.admin-options-list .box .btns a {
  margin: 0 2px;
  text-decoration: none;
  color: #ccc;
}

/* dialog */
.admin-options-dialog {
  position: relative;
  z-index: 999999999;
  display: none;
}
.admin-options-dialog .dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  -moz-opacity: 0.8;
  opacity:      0.8;
  filter:alpha(Opacity=80);
}
.admin-options-dialog .dialog-content {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 199999999999;
  width: 80%;
  height: 80%;
  background: #fff;
}
.admin-options-dialog .dialog-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.admin-options-dialog .dialog-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.admin-options-dialog .dialog-title {
  font-size: 22px;
  background: #FCFCFC;
  border-bottom: #DDDDDD solid 1px;
  padding: 15px 20px;
}
.admin-options-dialog .dialog-text {
  margin: 15px;
  margin-bottom: 40px;
  font-size: 14px;
}
.admin-options-dialog .dialog-btns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #FCFCFC;
  border-top: #DDDDDD solid 1px;
  padding: 15px 20px;
  text-align: right;
}
